<div>

  {{#when message.user "eq" user}}
    <div class="outgoing_msg">
      <div class="sent_msg">
        <p>{{message.messageData.message}}</p>
        <span class="time_date"> {{message.messageData.time}}</span>
      </div>
    </div>
  {{/when}}

  {{#when user "eq" message.messageData.toWhom}}
    <div class="incoming_msg">
      <div class="incoming_msg_img">
        <img
          src="https://ptetutorials.com/images/user-profile.png"
          alt="sunil"
        />
      </div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p>{{message.messageData.message}}</p>
          <span class="time_date">{{message.messageData.time}}</span>
        </div>
      </div>
    </div>
  {{/when}}
</div>